body {
  margin: 0;
}

.main-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: lightgreen;
}

.imagen {
  width: 100px;
  height: 100px;
}

.div-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
